---
layout: default
title: Exercícios Básicos
---

<ol>
	<li><a href="/basico/000-esqueleto.html">Esqueleto</a></li>
	<li><a href="/basico/001-variaveis-valores.html">Variáveis e valores</a></li>
	<li><a href="/basico/002-metodos.html">Métodos</a></li>
	<li><a href="/basico/003-if-else.html">If e Else</a></li>
	<li><a href="/basico/004-classes.html">Classes</a></li>
	<li><a href="/basico/005-object.html">Objects</a></li>
	<li><a href="/basico/006-funcoes.html">Funções</a></li>
<!--{% for page in site.pages %}
	{% if page.group == 'basico' %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
	{% endif %}
{% endfor %}
-->
</ol>
